This the list of sentences to formalize:

{{ query.sentences | join("\n") }}


{%if query.style == "literally"%}
Formalize the sentences literally as they are, without adding any implicit 
constraints or making any assumptions. Only formalize what is explicitly stated 
in the sentences, do not infer any missing information that might be relevant 
that is not explicitly stated in the sentences.
{%endif%}
{%if query.style == "implicitly"%}
Formalize the sentences including implicit constraints and making reasonable 
assumptions as needed. Use your common sense to infer any missing information 
that might be relevant that is not explicitly stated in the sentences. First 
think the implicit constraints in natural language for yourself, then formalize 
everything.
{%endif%}