The predicates and constants that you can use in the formalization are as 
follows:

Predicates:
{{ query.predicates | yaml }}

Constants:
{{ query.constants | yaml }}

Previous formalizations are:

{{ query.previous_formalizations | yaml }}

Current step: {{ query.step_type }}
{% if query.step_type == "Constraint" %}
Leave the `conclusion` section as `None`. 
{% elif query.step_type == "Conclusion" %}
Leave the `constraints` section as `None`.
{% endif %}

{% if query.context %}
The context of the puzzle is:
{{ query.context | join("\n") }}
{% endif %}

**Sentences to formalize are below. Only formalize this**

{{ query.sentences | join("\n") }}

**End of sentences**

{% if query.blacklist %}
**Instructions**
There were some problems while formalizing the current sentences that you encountered before. Consider the following list containing those.

{% for item in query.blacklist %}
{% if item.__class__.__name__ == 'Error' %}

{% if item.label %}
{{ item.label }}
{% endif %}
    
{% if item.meta and item.meta.get('error') and item.meta.get('formalization_str') %}
- **Following error encountered before! You must avoid this:** 
{{ item.meta['error'] }}
- The formalization that caused this error was:

{{ item.meta['formalization_str'] }}
{% endif %}
--------------------
{# --------------------- #}
{# {% else %}
---------------------
- **Following formalization caused problems before! You must find a different formalization semantically different from this:**
{{ item | yaml }} #}
---------------------
{% endif %}
{% endfor %}
{% endif %}
