{% include "system_fol.jinja" %}

In each step, I will ask you to formalize a list of sentences. I will provide you with the context of the puzzle and the sentences to formalize. Your task is to formalize these sentences into first-order logic using the structured output format specified. 


Always exclusively use the predicates and constants that are fixed, that I will provide to you. 